<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/NutriTracker/public/css/style.css">
    <link rel="stylesheet" href="/NutriTracker/public/css/styleDailyNutri.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Meal Tracker</title>

</head>

<body>
    <img src="/NutriTracker/public/nav.jpg" alt="navPic" class="background-image">

    <div class="content">
        <div class="nav-field">
            <h1 class="logo">NutriTracker</h1>
            <h3><a href="MealCreator.html">Meal Creator</a></h3>
            <h3><a href="MealTracker.html">Meal Tracker</a></h3>
            <h3><a href="Activity.html">Activity Tracker</a></h3>
            <h3><a href="DailyNutri.html" class="active">Daily Nutri</a></h3>
        </div>

        <br><br><br><br>

            <div class="under-container">

                <h2>Daily Nutri</h2>

                <div class="overskrifter">
                    <h4 class="MealNameTracker">Time</h4>
                    <h4 class="MealName">Meals</h4>
                    <h4 class="Kcal">Water</h4>
                    <h4 class="Added">Kcal consumed</h4> 
                </div>

                <!-- Daily Nutri Container -->
                <div id="dailyNutriContainer" class="daily-nutri-container">
                    <!-- Daily nutritional intake will be displayed here -->
                </div>


            </div>
    </div>

</body>
<script type="module" src="/NutriTracker/public/js/scriptDaily.js"></script>

</html>