<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleMealCreator.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Meal Creator</title>
</head>

<body>
    <img src="/nav.jpg" alt="navPic" class="background-image">

    <div class="content">
        <div class="nav-field">
            <img src="/ablelogo.jpg" alt="ablelogo" class="ablelogo">
            <h1 class="logo">NutriTracker</h1>
            <h3 class="overskrifter"><a href="/MealCreator.html" class="active">Meal Creator</a></h3>
            <h3 class="overskrifter"><a href="/MealTracker.html">Meal Tracker</a></h3>
            <h3 class="overskrifter"><a href="/Activity.html">Activity Tracker</a></h3>
            <h3 class="overskrifter"><a href="/DailyNutri.html">Daily Nutri</a></h3>
            <h3 class="overskrifter"><a href="/MyStats.html">My Stats</a></h3>
        </div>
        

        <br><br><br><br>

        <div class="central-container">
            <div class="under-container">
                <div class="buttons-title">
                    <h2>Meal Creator</h2>
                    <div class="add-buttons">
                        <div class="addMeal">
                            <div class="button-container" onclick="openMealPopup()">+</div>
                        </div>

                        <div class="addLiquid">
                            <div class="button-container" onclick="openMealPopup()">+</div>
                        </div>
                    </div>
                </div>

                <div class="search-container">
                    <input type="text" id="searchInputAll" placeholder="Search for ingredients">
                    <button id="searchButtonAll">Search</button>
                    <div id="searchResultsContainerAll">
                        <!-- Dynamically generated search results will go here -->
                    </div>
                </div>


                <div class="overskrifter-tabel">
                    <h4 class="MealName">Meal Name</h4>
                    <h4 class="Kcal">Total Kcal pr. 100g</h4>
                    <h4 class="Added">Added on</h4>
                    <h4 class="Ingredients"># Ingredients</h4>
                    <h4 class="Eaten">Times Eaten</h4>
                </div>

                <div class="måltid">
                    <div class="meals-container">
                        <!-- Meals will be appended here by the script -->
                        <!-- Add the followisng HTML for ingredient count and total energy -->
                        <div class="meal-info">
                            Ingredients: 0, Total Energy: 0.00 kcal
                        </div>
                    </div>
                </div>

                <!-- Popup for adding/editing meal -->
                <div id="mealPopUp" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeMealPopup()">&times;</span>
                        <h2 id="popupTitle">Add Meal</h2>
                        <label for="mealName">Meal Name:</label>
                        <input type="text" id="mealName" placeholder="Enter meal name">
                        <label for="searchInput">Search for ingredients:</label>
                        <input type="text" id="searchInput" placeholder="Search for ingredients">
                        <button id="searchButton">Search</button>
                        <div id="searchResultsContainer">
                            <!-- Dynamically generated search results will go here -->
                        </div>
                        <h2 id="selectIngredients">Selected Ingredients</h2>
                        <ul id="selectedIngredientsList">
                            <!-- Dynamically added ingredients will go here -->
                        </ul>
                        <button onclick="saveMeal()">Save</button>
                    </div>
                </div>

                <div id="nutritionalDetailsModal" class="modal">
                    <div class="modal-content">
                        <span class="close closeNutritionalDetails">&times;</span>
                        <h2>Nutritional Details</h2>
                        <div id="nutritionalInfoContent">
                            <!-- Nutritional info will be populated here -->
                        </div>
                    </div>
                </div>

                <!-- Modal for displaying nutritional data of searched ingredient -->
                <div id="ingredientModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Nutritional Data</h2>
                        <div id="nutritionalDataContent">
                            <!-- Nutritional data will be displayed here -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="module" src="/js/scriptNav.js"></script>
    <script type="module" src="/js/scriptCreator.js"></script>
</body>

</html>


