<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/35a02f4c06.js" crossorigin="anonymous"></script>
</head>

<body>
    <img src="/nav.jpg" alt="navPic" class="background-image">

    <div class="content">
        <div class="nav-field">
            <h1 class="logo">NutriTracker</h1>
        </div>

        <br><br><br><br>
        <div class="form-box">
            <h1>My Body</h1>
            <form id="bodyDataForm" action="/submit-body-data" method="post">
                <input type="hidden" id="userIDInput" name="userID" value="">
                <label for="height">Height (cm):</label>
                <input type="text" id="height" name="height" required><br>
                <label for="weight">Weight (kg):</label>
                <input type="text" id="weight" name="weight" required><br>
                <button type="submit">Submit</button>
            </form>
            
            <script>
                // Populate the userID input field with the userID value from the query string
                const urlParams = new URLSearchParams(window.location.search);
                const userID = urlParams.get('userID');
                document.getElementById('userIDInput').value = userID;
            </script>
            
        </div>
    </div>
</body>

</html>
