<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleMyStats.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>My Stats</title>
</head>

<body>
    <img src="/nav.jpg" alt="navPic" class="background-image">
    <div class="content">
        <div class="nav-field">
            <img src="/ablelogo.jpg" alt="ablelogo" class="ablelogo">
            <h1 class="logo">NutriTracker</h1>
            <h3 class="overskrifter"><a href="/MealCreator.html">Meal Creator</a></h3>
            <h3 class="overskrifter"><a href="/MealTracker.html">Meal Tracker</a></h3>
            <h3 class="overskrifter"><a href="/Activity.html">Activity Tracker</a></h3>
            <h3 class="overskrifter"><a href="/DailyNutri.html">Daily Nutri</a></h3>
            <h3 class="overskrifter"><a href="/MyStats.html" class="active">My Stats</a></h3>
        </div>

        <br><br><br>

        <form class="form-box">
            <h1>My Stats</h1>
            <p><strong>Email:</strong> <span id="email" contenteditable="true"></span></p>
            <p><strong>Height (cm):</strong> <span id="height" contenteditable="true"></span></p>
            <p><strong>Weight (kg):</strong> <span id="weight" contenteditable="true"></span></p>
            <p><strong>Age:</strong> <span id="age" contenteditable="true"></span></p>
            <p><strong>Gender:</strong> <span id="gender" contenteditable="true"></span></p>
            <!-- Delete User Button -->
            <br>
            <button class="deleteUserBtn">Delete Account</button>
            <br><br>
        </form>

    </div>

    <script src="/js/scriptStats.js"></script>
    <script type="module" src="/js/scriptNav.js"></script>
</body>

</html>
