#dailyNutriContainer {
    gap: 20px; /* Added spacing between elements */
    overflow-y: auto;
    margin-right: 10px;
}

/* Style for the list items displaying hourly intake data */
.daily-intake-item {
    list-style: none; 
    margin-bottom: 20px;
    padding: 20px; 
    background-color: #DEF6D8; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
}

/* Style for the text content of the list items */
.daily-intake-item span {
    flex-grow: 40;
    margin-right: 300px; 
}
