body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    /* Required for absolute positioning within the body */
}

.overskrifter {
    display: flex;
    justify-content: space-between;
    color: #9E9E9E;
}

.nav-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #91c789;
    align-self: center;
}

.logo,
h3 {
    margin: 0;
    /* Remove default margins */
    padding: 10px;
    /* Keep padding for spacing */
}

h1,
h3 {
    display: inline-block;
    margin: 100px;
    /* Remove margin to prevent extra space */
    margin-top: 40px;
    align-self: center;
}

h1 {
    font-size: 40px;
}

h2 {
    color: black;
    font-size: 32px;
}

h3 a {
    text-decoration: none;
    color: #757575;
    padding: 5px 10px;
    /* Add padding around links */
}

h3 {
    font-size: 28px;
}

.background-image {
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: -1;
}

h3 a.active {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #91c789;
    /* Choose a background color for the active link */
    color: #ffffff;
    /* Choose a text color for the active link */
}



.under-container {
    width: 1000px; /* Angivet med enheden px */
    max-width: 90%; /* Justeret for responsivitet */
    margin: 0 auto; /* Centrer elementet ved at angive margin til auto på venstre og højre side */
    height: auto;
    border-radius: 20px;
    border: 1px solid #99D9DE;
    padding: 20px;
    color: #030303;
    position: relative; /* Make the under-container a reference for absolute positioning */
}



.book-icon {
    border: none;
    background-color: transparent;
    color: rgb(114, 192, 114);
}

.delete-button {
    background-color: transparent;
    /* Set the background color of the button to transparent */
    border: none;
    /* Remove the border */
}

.book-icon,
.delete-button,
.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0; /* Remove any padding */
}

.delete-button i,
.book-icon i,
.edit-button i {
    font-size: 1.2em;
    /* Adjust the font size of the icons */
}

.delete-button i.fas.fa-trash-alt {
    color: rgba(255, 98, 70, 0.932);
}


.book-icon:hover,
.delete-button:hover {
    opacity: 0.7;
    /* Example hover effect */
}

.edit-button {
    color: rgb(87, 161, 247);
}

.fas.fa-book {
    color: green;
}

.delete-button {
    color: rgba(255, 98, 70, 0.932);
}

